/* src/components/ui/FormModal.css */
/* ... (Manter modal-backdrop e modal-content) ... */

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2.0rem;
    color: #cbd5e1; /* NOVO: Cor do X de fechar clara */
    cursor: pointer;
    z-index: 1001; 
}
.modal-close-btn:hover {
    color: #f1f5f9; /* Branco mais puro ao passar o mouse */
}